<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <mat-form-field class="example-full-width">
            <mat-label>Ingresa el 1er número</mat-label>
            <input matInput placeholder="5" type="number" [(ngModel)]="num1">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Ingresa el 2do número</mat-label>
                <input matInput placeholder="3" type="number" [(ngModel)]="num2">
            </mat-form-field>
            <br>
            <button mat-raised-button (click)="mostrarResultado()">Calcular</button> 
        </div>
    </div>
    <div class="col-6">
        <div class="mb-3">
            
            
            <div class="mb-3">
                <mat-card>
                    <mat-card-content>
                        Resultado: {{res}} <br>
                        Número 1: {{num1}} <br>
                        Número 2: {{num2}} <br>
                        Suma: {{suma}}
                    </mat-card-content>
                </mat-card>      
            </div>
        </div>
    </div>
</div>
    
